// --------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------

$breakpoints: (
    'small': 320px,
    'medium': 800px,
    'large': 1280px
);

// --------------------------------------------------------------
// Global rules
// --------------------------------------------------------------

body {
    font-family: $font-family-primary;
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
}

// --------------------------------------------------------------
// Width constrain
// --------------------------------------------------------------

$layout-max-width: 1024px;
$layout-side-padding: 10px;

@mixin constrain() {
    max-width: $layout-max-width + (2 * $layout-side-padding);
    padding-left: $layout-side-padding;
    padding-right: $layout-side-padding;
    margin: 0 auto;        
}

.constrain {
    @include constrain;
}